<section class="w-full flex flex-col items-center text-black">
  <div class="w-full max-w-[1200px] px-20 py-10 flex items-center gap-[51px]">
    <button
      routerLink="/home"
      class="rounded-full bg-white border border-[#e9eaeb] h-10 px-4 inline-flex items-center justify-center gap-2 cursor-pointer"
    >
      <img src="assets/icons/arrow-left.svg" alt="" class="w-6 h-6">
      <span class="font-semibold text-[14px] leading-4">Atrás</span>
    </button>

    <nav class="flex items-center gap-[23px] text-left text-[#d5d7da]">
      <span class="tracking-[0.03em] uppercase font-semibold">Productos</span>
      <img src="assets/icons/ChevronRight.svg" class="w-6 h-6" alt="">
      <span class="tracking-[0.03em] uppercase font-semibold text-[#414651]">MIS PRÉSTAMOS</span>
    </nav>
  </div>

  <div class="w-full max-w-[1200px] px-20">
    <div class="filter drop-shadow-sm border-b-2 border-[#f79009] flex items-center justify-center p-4 text-[18px] text-[#09090a]">
      <div class="flex items-center gap-4 w-full max-w-[584px]">
        <img src="assets/img/Personal.png" alt="" class="w-8 h-8 object-contain">
        <div class="flex-1 font-semibold leading-7">Mis préstamos</div>
      </div>
    </div>
  </div>

  <div class="w-full max-w-[1200px] px-20 pt-4 pb-12">
    <div class="w-full max-w-[584px] mx-auto shadow-sm rounded-lg bg-white border border-[#d5d7da] p-6 flex flex-col gap-6 text-[#535862]">

      <div class="flex items-center justify-between text-left">
        <div class="w-[131px] flex flex-col gap-0.5">
          <span class="text-[14px] leading-5">Capital por pagar</span>
          <b class="text-[24px] leading-8 text-[#0a0d12]">S/ 600</b>
        </div>
        <div class="w-[131px] flex flex-col gap-0.5 text-right">
          <span class="text-[14px] leading-5">Pagado</span>
          <b class="text-[24px] leading-8 text-[#0a0d12]">S/ 600</b>
        </div>
      </div>

      <div class="w-full flex items-center">
        <div class="flex-1 rounded-lg overflow-hidden flex">
          <div class="h-2 flex-1 bg-[#444ce7]"></div>
          <div class="h-2 flex-1 bg-[#e0eaff]"></div>
          <div class="h-2 flex-1 bg-[#e0eaff]"></div>
          <div class="h-2 flex-1 bg-[#e0eaff]"></div>
          <div class="h-2 flex-1 bg-[#e0eaff]"></div>
        </div>
      </div>

      <div class="w-full flex items-center justify-between text-[#252b37]">
        <div class="w-[131px] flex gap-1">
          <span class="text-[14px] leading-5 font-medium">Cuotas pagadas</span>
          <b class="text-[14px] leading-5">1 de 6</b>
        </div>
        <div class="flex gap-1 text-right">
          <span class="text-[14px] leading-5 font-medium">Monto inicial</span>
          <b class="text-[14px] leading-5">S/1,000.00</b>
        </div>
      </div>

      <div class="w-full rounded-lg bg-[#eef4ff] p-2 text-[#0a0d12]">
        <div class="w-full flex items-center justify-between">
          <div class="w-[131px] flex flex-col gap-0.5">
            <span class="text-[14px] leading-5 font-medium">Siguiente pago:</span>
            <span class="text-[14px] leading-5 font-medium text-[#717680]">Vencimiento:</span>
          </div>
          <div class="w-[131px] flex flex-col gap-0.5 text-right text-[#181d27]">
            <b class="text-[14px] leading-5">S/118.23</b>
            <span class="text-[14px] leading-5 font-semibold">05/07/2025</span>
          </div>
        </div>
      </div>

      <button class="w-full flex items-center justify-between text-[#dc6803]">
        <span class="font-semibold leading-5">Ver más detalles</span>
        <img src="assets/icons/ChevronRight.svg" alt="" class="w-6 h-6">
      </button>
    </div>
  </div>
</section>
